
/*pages Input*/
input[type=text]:focus, input[type=password]:focus {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    outline: none;
    outline-offset: 0;
}
input:focus {
  outline-offset: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DCDCDC;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}